<style>
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: blue;
    background-color : black;
}
</style>
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="/about/">About Google Finance</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/top/">Click Here To View TOP 5 stock names GENERALLY</a></li>

           

          </ul>
           <ul class="navbar-collapse collapse">
          <li class="active"><h4><a class="btn btn-lg btn-primary" role="button" href="/lists"> CLICK HERE:- List of stocks company Names and the check the percentage</a></h4></li>
          
          </ul> 
          <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">HOME</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
